body{
    background-color: #A09BE7;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 50%;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #DFAD7C;
    border-radius: 10px;
    box-shadow: 3px 3px
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
    
}

.main-container {
    color: white;
}

.handle {
    text-align: center;
    border-bottom: solid 1px white;
    
}

.handle > p, .handle > h3, h4 {
    margin: 0px;
    padding: 0px;
}

.handle > h3 {
    margin-top: 15px;
    color: #488A73;
    font-weight: 700px;
}

.handle > p {
    font-weight: 400px;    
    font-size: 15px;
}

.social {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.information {
    margin: 20px;
    padding-bottom: 5px;
    
}

button {
    border: none;
    box-shadow: 2px 2px black;
    border-radius: 3px;
    background-color: #488A73;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 20px;
    
    
}

.footer-container {
    background-color: #071013;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
}

